h1, h2, h3, h4, h5, h6 {
	font-family: 'Luckiest Guy';
}


div.main-nav a.brand {
	font-family: 'Luckiest Guy';
	font-size: 32px;
	padding-bottom: 0;
	color: #3366ff;
}

@media (min-width: 979px) {
	div.main-nav + div.container {
		margin-top: 80px;
	}
}


div.main-nav div.alert {
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

/**
 * Flags
 */
.flag:after { 
	content: '';
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url('/components/main/img/flags-50.png') no-repeat 50px 0
}
.flag-cro:after { background-position: -750px 0 }
.flag-cze:after { background-position: 0 0; }
.flag-den:after { background-position: -50px 0; }
.flag-eng:after { background-position: -100px 0; }
.flag-esp:after { background-position: -150px 0; }
.flag-fra:after { background-position: -750px 0; }
.flag-ger:after { background-position: -250px 0; }
.flag-gre:after { background-position: -300px 0; }
.flag-irl:after { background-position: -350px 0; }
.flag-ita:after { background-position: -400px 0; }
.flag-ned:after { background-position: -450px 0; }
.flag-pol:after { background-position: -500px 0; }
.flag-por:after { background-position: -550px 0; }
.flag-rus:after { background-position: -600px 0; }
.flag-swe:after { background-position: -650px 0; }
.flag-ukr:after { background-position: -700px 0; }





